{% extends 'base.html' %}
{% load static %}
<!-- Meta Tags Per Page Descriptions -->
    {% block metaDescription %}
      <meta name="description" content=
        "Four State Stockyards wants to help your Buying and Selling experence be a good one. Here is some information about our Buyers and Sellers policy.">
    {% endblock metaDescription %}
<!-- Meta Keywords -->
    {% block metaKeywords %}
      <meta name="keywords" content="Four State Stockyards, Livestock, Sales, Buyer, Seller, Loading Dock, Bill Of Sale, Facility, Local, Haul, Cattle, Vet, De-horn, Sale, Day, Sale Day, Vaccine Recommendations, Vaccine, Trichomoniasis, Services, Preg-Checked, Preg-Check, Paid, Premium, Cows and Bulls, Cows, Bulls, Sheep and Goat, Sheep, Goats, Goat, Steel Pipe Pens, Automatic Waterers, Trailer, Restaurant, Weaned, Unload, Load, Office, Purchase, Purchased, ">
    {% endblock metaKeywords %}
<!-- Title -->
    {% block titleContent %}
      | Buyers/Sellers Info
    {% endblock titleContent %}
<!-- schemas Per Page or Section -->

<!-- Main Page Content -->
{% block mainContent %}
  <div class="infoBodyBackground">
    <section class="container salesContainer">
      <main class="intro">
        <h1 class="infoH">Buyer/Seller Info</h1>
        <p class="infoP">
         Four State Stockyards will work hard to help you get the most value out of your hard work. We provide knowledgeable Field Representatives, a helpful and friendly sale staff and a family-friendly facility to make your buying and selling experience more enjoyable. Our values are based on honesty, integrity, and a desire to provide exemplary customer service . Let us be your #1 Livestock Marketing Provider.
        <br><br>
         We ask that all buyers report to the office for buyer number. All livestock that goes thru our ring is available for bid. Office will provide bill of sale upon payment. 
         <br><br>
         Sellers should unload on the west side of the building. Please advise the check-in staff of anything the future buyer should be aware of. 
         <br><br>
         We have a knowledgeable vet on site on sale days that can provide a variety of services for a fee.
         <br><br>
         If you need help transporting your cattle to or from our facility, just let us know. We will help find someone local to haul your cattle. 
         <br><br>
         We do accept cattle whenever you can bring them, just contact one of our <a href="{% url 'contactRep' %}">FIELD REPS</a> to set up a good time.
         <br><br>
         Auctioneer: Justin Dodson 
        </p>
      </main>
      <div class="tariff">
        <table class="table">
          <caption id="charges">
            List of Charges as of 2019 <br>
            List does not include Vet Charges
          </caption>
          <thead class="thead-light">
            <tr>
              <th scope="col">Selling Commission</th>
              <th scope="col">Charge</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Cows & Bulls</th>
              <td>3% gross sales $15.00/hd minimum</td>
            </tr>
            <tr>
              <th scope="row">Calves</th>
              <td>$17.00/hd</td>
            </tr>
            <tr>
              <th scope="row">Sheep & Goats</th>
              <td>6% gross sales $6.00/hd minimum</td>
            </tr>
          </tbody>
          <thead class="thead-light">
            <tr>
              <th scope="col">Yardage</th>
              <th scope="col">Charge</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">All Livestock</th>
              <td>$1.00/hd</td>
            </tr>
          </tbody>
          <thead class="thead-light">
            <tr>
              <th scope="col">Feed & Overnight</th>
              <th scope="col">Charge</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">All Livestock</th>
              <td>$1.50/hd</td>
            </tr>
          </tbody>
        </table>
      </div>
      <main class="intro">
        <h1 class="facilityH">Our Facility</h1>
        <div id="facility_p">
          <p class="infoP">
            The capacity of our facility is constantly growing to accommodate more cattle. Our steel pipe pens, alleyways, head chutes, and vet shack are kept very clean to lower any chance of disease transmission. 
            <br><br>
            We work hard to prevent shrinkage while your cattle are at our facility, by offering hay and automatic waterers. 
            <br><br>
            Water-misters and fans are kept running around the clock during warm weather to keep your cattle calm and cool. We ensure that your livestock is handled and cared for properly when they are with us. You will appreciate the way our employees care for your animals in preparation for the sale. 
            <br><br>
            <span class="cafe">Our restaurant is open all day on sale days – Grab a bite to eat and enjoy the sale</span>
          </p>
        </div>
      </main>
    </section>
  </div>
{% endblock mainContent %}